@model IEnumerable<Datatable.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="text-center">
    <div class="content">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Salary)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                "url": "/Employees/Index",
                "type": 'Get',
                "datatype": 'json'
            },
            "columns": [
                { 'data': 'Id' },
                { 'data': 'Name' },
                { 'data': 'Position' }, // Corrected property name
                { 'data': 'Age' },
                {
                    'data': 'Salary',
                    'render': function (salary) {
                        return 'R' + salary;
                    }
                }
            ],
        "dom": 'Bftrip',
        "buttons": [
            {
                extend: 'copy',
                className: 'btn btn-dark rounded-0',
                text:'<i class="far fa-copy"></i> Copy'
            },
            {
                    extend: 'excel',
                    className: 'btn btn-dark rounded-0',
                    text: '<i class="far fa-excel"></i> Excel'
             },
             {
                    extend: 'pdf',
                    className: 'btn btn-dark rounded-0',
                    text: '<i class="far fa-pdf"></i> Pdf'
              },
              {
                    extend: 'csv',
                    className: 'btn btn-dark rounded-0',
                    text: '<i class="far fa-csv"></i> Csv'
              },
                {
                    extend: 'print',
                    className: 'btn btn-dark rounded-0',
                    text: '<i class="far fa-print"></i> Print'
                },
        ]
        });
        });
</script>